<div *ngIf="character">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="character.thumbnail.path + '/portrait_uncanny.' + character.thumbnail.extension" [alt]="character.name" class="img-fluid rounded-start">
    </div>
    <div>
      <div>
        <h1 >{{ character.name }}</h1>
        <p >{{ character.description || 'No hay descripción disponible.' }}</p>
        <h2 >Cómics:</h2>
        <ul>
          <li *ngFor="let comic of character.comics.items" class="list-group-item">
            <i class="bi bi-book me-2"></i>
            {{ comic.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
